<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.username %>
      <% unless current_user == user %>
        <% is_friend = Friendship.can_unfriend?(current_user.id, user.id) %>

        <span class="friend-buttons <%= (is_friend ? 'can-unfriend' : 'can-friend').html_safe%>">
          <button class="friend" data-id="<%= user.id %>">Friend</button>
          <button class="unfriend" data-id="<%= user.id %>">Unfriend</button>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>

<script>

  var toggleFriendButtons = function($button) {
    var $span = $button.parent();
    $span.toggleClass('can-unfriend');
    $span.toggleClass('can-friend');
  }

  $("ul").on("click", "button.friend", function(event){
    event.preventDefault();
    var in_friend_id = $(this).attr("data-id");
    var self = this;
    //
    $.ajax({
      url: "/users/"+in_friend_id+"/friendship",
      type: "POST",
      success: function() {
        console.log("friendship created");
        toggleFriendButtons($(self));
      }
    });

    // $(this).attr("disabled", "disabled");
    // $(this).text("Friending...")
  });



  $("ul").on("click", "button.unfriend", function(event){
    event.preventDefault();
    var in_friend_id = $(this).attr("data-id");
    var self = this;
    //

    $.ajax({
      url: "/users/"+in_friend_id+"/friendship",
      type: "DELETE",
      success: function() {
        console.log("friendship deleted");
        toggleFriendButtons($(self));
      }
    });

  });
</script>