<h1><%= @user.username %></h1>

<h2>Secrets</h2>

<%= render "secrets/form", recipient_id: @user.id, tags: Tag.all %>

<ul id="secrets">
  <% @user.received_secrets.each do |secret| %>
    <li>
      <%= secret.title %>
      (
        <% secret.tags.each do |tag| %>
          <%= tag.name + " "%>
        <% end %>
       )
    </li>
  <% end %>
</ul>

<script>
  $("#secretForm").on("submit", function(event){
    event.preventDefault();
    var formData = $(this).serialize();
    var form = this;

    $.ajax({
      url: "/secrets",
      type: "POST",
      data: formData,
      error: function(resp) {
        console.log("error error!");
      },
      success: function(resp) {
        console.log("secret created!");
        console.log(resp.secret)

        var tagNamesStr = ""
        for (var i=0; i<resp.tags.length; i++) {
          tagNamesStr += resp.tags[i].name + " ";
        }

        var htmlStr = "<li>"+resp.secret.title+" ( "+ tagNamesStr+")</li>"
        $("ul#secrets").children().first().before(htmlStr);
        console.log(form);
        $("input[type=text]").val("");
      }
    });
  });
</script>

