<form action="<%= secrets_url %>" method="post" id="secretForm">
  <input  type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">

  <input  type="hidden"
          name="secret[recipient_id]"
          value="<%= recipient_id %>">

  <p>
    <label>Title:
      <input type="text" name="secret[title]">
    </label>
  </p>

  <p>
    <label>Tags:<br>
      <div id="secret-tag-selects"></div>
      <a href="#" id="newTag">Add a Tag!</a>
    </label>
  </p>

  <p>
    <input type="submit" value="Create Secret">
  </p>
</form>

<script type="application/json" id="bootstrapped_tags_json">
  { "tags": <%= tags.to_json.html_safe %>}
</script>

<script type="text/template" id="secret_select_template">
  <p><select name="secret[tag_ids][]">
    <%% _(tags).each(function(tag) { %>
      <option value="<%%= tag.id %>"><%%= tag.name %></option>
    <%% }); %>
  </select></p>
</script>

<script type="application/javascript">

  var addSecretTagSelect = function(tags) {
    var templateCode = $("#secret_select_template").html();
    var templateFn = _.template(templateCode);
    var renderedContent = templateFn({tags: tags});
    $("#secret-tag-selects").append(renderedContent);
  }

  $('#newTag').click(function() {
    var data = JSON.parse($('#bootstrapped_tags_json').html());
    var tags = data["tags"];
    addSecretTagSelect(tags);
  });
</script>
